@page "/"

@if (AppState.ThisShow != null && AppState.MediaState == MediaState.Playing)
{
    <button class="btn btn-danger" @onclick="ShutUp">
        <span style="font-weight:bold;">Currently Playing:</span>
        <span>&nbsp;@AppState.ThisShow.ShowTitle</span>
    </button>
    <br />
    <br />
}

<div class="centered-container">
    <span>Search Shows:&nbsp;</span><input id="filter" @bind="@EpisodeFilter" @bind:event="oninput" style="width:30%;" />
    @if (EpisodeFilter.Length > 0)
    {
        <span class="oi oi-circle-x" style="padding-left:6px;zoom:2;cursor:pointer;" aria-hidden="true" @onclick="ResetFilter"></span>
    }
</div>

@if (AppState.Loading)
{
    <div class="centered-justified-container">
        <img src="/loading.gif" style="width:80px;" />
    </div>
}

@if (AppState.SelectedPlayList != null)
{
    <div class="centered-container" style="padding-top:10px;">
        Playlist: @AppState.SelectedPlayList.Name
    </div>

    <div class="centered-container" style="padding-top:10px;">
        <button class="btn btn-secondary"
                disabled="@Downloading"
                style="margin-right:6px;"
        @onclick="AppState.ToggleShowPlaylistOnly">
            @AppState.ShowPlayListOnlyText
        </button>
        @if (!AppState.ShowPlayListOnly)
        {
            <button class="btn btn-secondary"
                    disabled="@Downloading"
                    style="margin-right:6px;"
            @onclick="AppState.AddAllToPlaylist">
                + All
            </button>

            <button class="btn btn-danger"
                    disabled="@Downloading"
            @onclick="AppState.RemoveAllFromPlaylist">
                - All
            </button>
        }
        else
        {
            @if (PlaylistEpisodesNotDownloaded > 0)
            {
                <button class="btn btn-secondary"
                        disabled="@Downloading"
                        style="margin-right:6px;"
                @onclick="DownloadPlaylist">
                    DL @PlaylistEpisodesNotDownloaded of
                    @AppState.SelectedPlayList.Shows.Count
                </button>
            }

            <button class="btn btn-primary"
                    disabled="@Downloading"
                    style="margin-right:6px;"
            @onclick="PlaySelectedPlayList">
                <span class="oi oi-media-play" />
            </button>
        }
    </div>
}
@if (StatusMessage != string.Empty)
{
    <br />
    <div style="font-style:italic;">@StatusMessage</div>
}

<hr size=7 />

@foreach (var show in AppState.AllShows)
{
    <div disabled="@Downloading" @onclick="(() => NavigateToDetailPage(show.ShowNumber))">
        <h4>@show.ShowTitle</h4>
    </div>
    <div style="font-size:small;">
        Episode @show.ShowNumber published @show.DatePublished.ToLongDateString()
    </div>
    <br />
    <div>
        @show.Description
    </div>
    <br />

    @if (AppState.SelectedPlayList != null)
    {
        <span>&nbsp;</span>
        if (AppState.SelectedPlayListContainsShow(show))
        {
            <button class="btn btn-danger"
                    disabled="@Downloading"
            @onclick="() => AppState.RemoveShowFromPlaylist(show)">
                Remove
            </button>
        }
        else
        {
            <button class="btn btn-secondary"
                    disabled="@Downloading"
            @onclick="() => AppState.AddShowToPlaylist(show)">
                Add
            </button>
        }
    }

    <hr />
}
@if (AppState.AllShows.Count >= 20
&& AppState.NoMoreShowsInSet == false
&& AppState.ShowPlayListOnly == false)
{
    <button disabled="@Downloading" class="btn btn-primary" @onclick="LoadMoreShows">
        @MoreMessage
    </button>
}

<br />
<br />